<html ng-app></html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{url}}js/semantic.min.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="https://semantic-ui.com/dist/semantic.min.css">

            <script src="https://semantic-ui.com/dist/semantic.min.css"></script>



        <script src="{{url}}js/semantic.min.js"></script>
    </head>
    <body style="margin: 50px;">
        <h2 class="ui header">
            <i class="Home icon"></i>
            <div class="content">
                Monitoreo
                <div class="sub header"> </div>
            </div>
        </h2>


        <div class="ui three cards">
        
        <a class="yellow card">
            <div class="image">
            <img src="{{url}}calixta.png">
            </div>
        </a>
        <a class="olive card">
            <div class="image">
            <img src="{{url}}inconsert.png">
            </div>
        </a>
        <a class="olive card">
            <div class="image">
            <img src="{{url}}inconserti6.png">
            </div>
        </a>            
        </div>    
    </body>    
</html>
<script>
    $('#img1').embed();
    $('#img2').embed();
</script>